<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/']">MovieShopMVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link text-dark" [routerLink]="['/privacy']">Privacy</a>
                    </li> -->

                    <button class="btn btn-secondary btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        Genres
                    </button>

                    
                    <!-- <ul class="dropdown-menu" aria-labelledby="defaultDropdown" style="font-size:0.8em">
                        <li class="dropdown-item"><app-genres></app-genres></li>
                    </ul> -->

                    <!-- <div ng-app="demo" ng-controller="myCtrl">
 
                        <select>
                        <option ng-repeat="name in names">{{name}}</option>
                        </select>
                         
                    </div> -->

               </ul>
               <!-- <partial name="_Log<inInfo" /> -->
            </div>
        </div>
    </nav>
</header>